<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Help you A/B Test</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/style.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" type="image/png" href="../img/magnifying-glass-favicon.png" />
</head>
<body>

<!-- Modal HTML -->

	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<img src="../img/img_avatar.png" alt="Avatar", class="avatar">
				<h4 class="modal-title">User Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" required="required">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" required="required">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-6">
								<a class="btn btn-primary btn-lg btn-block register-btn" href='register.html'>Register</a>
							</div>
							<div class="col-xs-6">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#">Forgot Password?</a>
			</div>
		</div>
	</div>

</body>
</html>